/* Whole website */

nav {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body {
    margin: 0;
}
.link {
    color: white;
    text-decoration: none;
    padding: 0 0.5rem;
}
.links {
    padding: 1rem;
}
.navimg {
    border-radius: 100%;
    width: 3rem;
    height: auto;
}

.link:hover {
    background-color: white;
    padding: 8px;
    color: black;
    border-radius: 20px;
}


/* Home page */
.landingpage {
    text-align: center;
}
.listlink {
    color: black;
}
.wholelist{
    padding-left: 32rem;
    padding-top: 10rem;
    width: 8rem;
}
.landingli {
    width: 11rem;
}
.catimg {
    float: right;
    margin-right: 20rem;
    width: 38rem;
    padding-top: 4rem;
}



/* Hobbies */
.hobbiestitle {
    text-align: center;

}
.hobbiesdiv {
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-auto-columns: 50% 50%;
    grid-template-columns: repeat(2, auto);
    gap: 12rem 5rem;
    grid-template-rows: 200px 400px;
}
.center {
    margin: 0 auto;
}
.fishingpic {
    width: 10rem;
    height: auto;
}
.csgo {
    width: 20rem;
    height: auto;
}
.bugbounty {
    width: 15rem;
    height: auto;
}
.bdot {
    width: 23rem;
    margin-left: 20rem;
}




/* Movies */






/* Books */